/* footer style start */
footer{
    background-color: #fff;
    padding-top: 70px;
    z-index: -3;
}
footer .sub{
    padding: 10.43px 57px 22.12px 102.88px;
    margin-top: -180px;
}
footer .sub2{
    margin-top: 70px;
}
footer .sub input{
    width: 481px;
height: 73px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 99px;
border-color: #fff;
position: relative;
padding: 26px 20px ;
margin-inline-start: 78px;
}
footer .sub .sub1 .tot{
    display: flex;
    align-items: center;
}
footer .sub .sub1 .btn3 {
    position: absolute;
    right: 0;
    left: 66.6%;
    margin-top: 0;
}
footer .sub .sub1 .subtext h6{
    font-size: 18px;
    font-family:Gotham-Bold;
    padding: 55px 0 ;
}
footer .sub .sub1{
    width: 100%;
    height: 180px;      
    padding: 10.43px 57px 22.12px 102.88px;
    background: #F0F6FF 0% 0% no-repeat padding-box; 
    box-shadow: 10px -10px 50px #0093DE17;
}
footer .sub .sub1{
    background-image: url(../background/shapes.svg);
    background-position: right 100%;
    background-size: cover;
}
footer .raq .raqlogo{
    max-width: 134px;
    margin-bottom: 22px;
}
footer .raq p{
    font-size: 14px;
    color: #2A2A2A;
}
footer .raq a{
    font-size: 12px;
    color: #027AB7;
}
footer .raq .social img{
    max-width: 24px;
    display: inline-block;
    margin-inline-end: 10px;
    margin-top: 42px;
}
footer h2{
    font-size: 18px;
    margin-bottom: 27px;
}
footer h2::after{
width: 30%;
height: 49%;
top: 50%;
left: 15%;
}
footer .ser::after{
    width: 21%;
    left: 19%;
}
footer .cont::after{
    width: 38%;
}
footer .about ul li{
    font-size: 14px;
    margin-bottom: 15px;
    color: #2A2A2A;
}
footer .about ul li a{
color: #2A2A2A;

}
footer .about ul li span img{
    max-width: 14px;
    display: inline-block;
    margin-inline-end: 10px;
}
footer .about ul .adrees{
margin-bottom: 0;
}
footer .about ul .maadi{
margin-inline-start: 30px;
}
footer .copy{
    border-top: 1px solid #F0F6FF;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 29px;
    padding-inline-start: 60px;
}
footer .copy p{
    color: #656565;
}
footer .copy a{
    text-decoration: underline;
    margin: 0 12px;
}
